:root {
    --gridNumber: 1 
}

div.container {
    display: grid;
    grid-template-columns: repeat(var(--gridNumber), auto); 
    width: 400px;
    height: 400px;
    margin: auto auto auto auto;
    border: black 0.05px solid;
}
